:root {
  /* Colors */
  --acented--gradient: linear-gradient(90deg,
      rgba(19, 176, 245, 1) 3%,
      rgba(230.5625, 15.370828628540039, 170.3088836669922, 1) 100%);

  /* Sizes */
  --header-height: 120px;


  --section-indent-l: 100px;
  --section-title-indent-l: 50px;
  --section-subtitle-indent-l: 100px;

  --stack-icons-indent-l: 80px;

  --border-radius-l: 20px;
  
  --width-container-max: 1200px;
  --width-container-min: 360px;

  /* Fonts */
  --font-family-main: "Poppins", sans-serif;
  --font-size-m: 16px;
  --font-line-m: 1.6;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
}