:root {
  /* Colors */

  /* Sizes */
  --header-height: 80px;

  /* Fonts */
  --font-family-main: "Poppins", sans-serif;
  --font-size-m: 16px;
  --font-line-m: 1.6;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
}