:root {

  /* Colors */
  --acented-gradient: linear-gradient(90deg,
      rgba(19, 176, 245, 1) 3%,
      rgba(230.5625, 15.370828628540039, 170.3088836669922, 1) 100%);
  --acented-gradient-90: linear-gradient(rgba(19, 176, 245, 1) 3%,
      rgba(230.5625, 15.370828628540039, 170.3088836669922, 1) 100%);

  /* Z-index */
  --banner-img-border-z-index: 0;
  --banner-img-background-z-index: 2;
  --projects-img-container-z-index: 0;
  --projects-img-z-index: 0;
  --header-z-index: 100;
  --header-z-index: 100;
  --burger-z-index: 100;
  --nav-z-index: 1000;
  --scroll-top-z-index: 1000;

  /* Sizes */
  --header-height: 120px;
  --footer-height: 200px;


  --section-indent-l: 100px;
  --section-title-indent-l: 50px;
  --section-subtitle-indent-l: 100px;

  --stack-icons-indent-l: 80px;

  --border-radius-l: 20px;
  --border-radius-m: 16px;
  --border-radius-s: 12px;
  --border-radius-xs: 8px;

  --width-container-xl: 1200px;
  --width-container-l: 990px;
  --width-container-m: 767px;
  --width-container-s: 540px;
  --width-container-min: 360px;

  /* Fonts */
  --font-family-main: "Poppins",
    sans-serif;
  --font-family-accented: "DMSans",
    sans-serif;
  --font-line: 1.6rem;

  --font-size-xs: 16px;
  --font-xs: var(--font-size-xs) / var(--font-line) var(--font-family-main);

  --font-size-s: 18px;
  --font-s: var(--font-size-s) / var(--font-line) var(--font-family-main);

  --font-size-m: 20px;
  --font-m: var(--font-size-m) / var(--font-line) var(--font-family-main);

  --font-size-l: 28px;
  --font-l: var(--font-size-l) / var(--font-line) var(--font-family-main);

  --font-size-xl: 32px;
  --font-xl: var(--font-size-xl) / var(--font-line) var(--font-family-main);

  --font-size-2xl: 48px;
  --font-2xl: var(--font-size-2xl) / var(--font-line) var(--font-family-main);

  --font-size-3xl: 58px;
  --font-3xl: var(--font-size-3xl) / var(--font-line) var(--font-family-main);

  /* Transition */
  --transtion-delay: 0.3s
}