:root {
  /* Colors */
  --accented-gradient: linear-gradient(90deg,
      rgba(19, 176, 245, 1) 3%,
      rgba(230.5625, 15.370828628540039, 170.3088836669922, 1) 100%);
  --accented-gradient-90: linear-gradient(rgba(19, 176, 245, 1) 3%,
      rgba(230.5625, 15.370828628540039, 170.3088836669922, 1) 100%);

  /* Z-index */
  --banner-img-border-z-index: 0;
  --banner-img-background-z-index: 2;
  --projects-img-container-z-index: 0;
  --projects-img-z-index: 0;
  --projects-link-z-index: -1;
  --projects-link-hover-z-index: 2;
  --projects-overlay-z-index: -2;
  --projects-overlay-hover-z-index: 1;
  --header-z-index: 100;
  --header-z-index: 100;
  --burger-z-index: 100;
  --nav-z-index: 1000;
  --scroll-top-z-index: 1000;

  /* Sizes */
  --header-height: 120px;
  --footer-height: 200px;


  --section-indent-l: 100px;
  --section-title-indent-l: 50px;
  --section-subtitle-indent-l: 100px;

  --stack-icons-indent-l: 80px;

  --border-radius-l: 20px;
  --border-radius-m: 16px;
  --border-radius-s: 12px;
  --border-radius-xs: 8px;

  --width-container-xl: 1200px;
  --width-container-l: 992px;
  --width-container-m: 768px;
  --width-container-s: 576px;

  /* @Media*/
  --media-1600px: 1600px;
  --media-1400px: 1400px;
  --media-1200px: 1200px;
  --media-992px: 992px;
  --media-768px: 768px;
  --media-576px: 576px;
  --media-400px: 400px;
  --media-360px: 360px;


  /* Fonts */
  --font-family-main: "Poppins",
    sans-serif;
  --font-family-accented: "DMSans",
    sans-serif;


  --font-size-2xs: 14px;
  --font-line-2xs: 22px;
  --font-2xs: var(--font-size-2xs) / var(--font-line-2xs) var(--font-family-main);

  --font-size-xs: 16px;
  --font-line-xs: 24px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

  --font-size-s: 18px;
  --font-line-s: 26px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 20px;
  --font-line-m: 28px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-xl: 28px;
  --font-line-xl: 36px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  --font-size-2xl: 32px;
  --font-line-2xl: 40px;
  --font-2xl: var(--font-size-2xl) / var(--font-line-2xl) var(--font-family-main);

  --font-size-3xl: 36px;
  --font-line-3xl: 44px;
  --font-3xl: var(--font-size-3xl) / var(--font-line-3xl) var(--font-family-main);

  --font-size-4xl: 42px;
  --font-line-4xl: 50px;
  --font-4xl: var(--font-size-4xl) / var(--font-line-4xl) var(--font-family-main);

  --font-size-5xl: 48px;
  --font-line-5xl: 56px;
  --font-5xl: var(--font-size-5xl) / var(--font-line-5xl) var(--font-family-main);

  --font-size-h1: 58px;
  --font-line-h1: 64px;
  --font-h1: var(--font-size-h1) / var(--font-line-h1) var(--font-family-accented);



  /* Transition */
  --transtion-delay: 0.3s;

  /* Opacity */
  --opacity-main: 0.5;
}