.listItem {
  position: relative;
  width: 100%;
  min-height: 570px;
  background: var(--card-color);
  border-radius: var(--border-radius-l);
  margin-bottom: 50px;
}

.imageContainer {
  width: 100%;
  height: 260px;
  border-radius: 20px 20px 0 0;
  position: relative;
  z-index: var(--projects-img-container-z-index);

  &::before {
    transition: all linear var(--transtion-delay);
    position: absolute;
    z-index: var(--projects-overlay-z-index);
    opacity: 0;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--header-color)
  }

  &:hover .link {
    z-index: var(--projects-link-hover-z-index);
    opacity: 1;
    pointer-events: all;
  }

  &:hover:before {
    transition: opacity linear var(--transtion-delay);
    opacity: 1;
    z-index: var(--projects-overlay-hover-z-index);
  }
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  z-index: var(--projects-link-z-index);
  opacity: 0;
  pointer-events: none;
  transition: all linear var(--transtion-delay);
}

.image {
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all var(--transtion-delay) linear;
  z-index: var(--projects-img-z-index);
}

.content {
  padding: 16px 30px 44px;
}

.title {
  margin-bottom: 16px;
}

.text {
  margin-bottom: 12px;

}

.stack {
  margin-bottom: 20px;
}

.linkWrapper {
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}