.fieldWrapper {
 position: relative;
}

.fieldCleaner {
 position: absolute;
 top: 5px;
 right: 5px;
}

.textarea {
 width: 100%;
 outline: none;
 resize: none;
 border-radius: var(--border-radius-xs);
 padding: 14px 35px 14px 19px;
 min-height: 200px;

 border: 2px solid var(--inverted-bg-color);
 background: transparent;

 color: inherit;

 &:focus {
  color: var(--primary-color);
  background: linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
   var(--accented-gradient) border-box;
  border: 2px solid transparent;
 }
}