.header {
  background: var(--header-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--header-z-index);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.content {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}


@media (max-width:768px) {
  .content {
    flex-direction: row-reverse;
    gap: 16px;
  }
}

@media (max-width:576px) {


  .socials {
    display: none;
  }
}