.appNavLink {
  transition: all linear var(--transtion-delay);

  &.isActive {
    color: var(--accented-color);
    cursor: default;
  }

  &.clear.primary {
    &:hover {
      color: var(--accented-color);
    }
  }

  &.clear.accented {
    background-image: var(--accented-gradient);
    color: transparent;
    background-clip: text;

    &:hover {
      color: var(--accented-color);
    }
  }

}