.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 0 0 60px 0;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.paginationItem {
  padding: 6px 10px;
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font: var(--font-s);

  &:hover {
    transition: all linear var(--transtion-delay);
    color: var(--accented-color)
  }

  ;

  &.active {
    background-image: var(--accented-gradient);
    background-clip: text;
    color: transparent;
  }
}

.list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.stub {
  min-height: 570px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  text-align: center;
}

.navLink {
  display: block;
  width: fit-content;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .listWrapper {
    width: 100%;
    overflow: hidden;
  }

  .list {
    display: flex;
    justify-content: start;
  }

  .projectItem {
    min-width: 100%;
  }

}

@media (max-width: 576px) {
  .list {}

}