.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 0 0 60px 0;
}

.pagination {
  display: flex;
  gap: 20px;
  padding: 0 0 50px 0;
}

.paginationItem {
  background-image: var(--acented-gradient);
  background-clip: text;
  color: transparent;
}

.list {
  display: grid;
  gap: 30px;
  /* По умолчанию 3 колонки (для маленьких контейнеров) */
  grid-template-columns: repeat(3, 1fr);
}

.stub {
  height: 570px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .listWrapper {
    width: 100%;
    overflow: hidden;
  }

  .list {
    display: flex;
    justify-content: start;
  }

  .projectItem {
    min-width: 100%;
  }

  .sliderBtns {
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  .disable {
    opacity: var(--opacity-main);
  }
}

@media (max-width: 576px) {
  .list {}

}