.socials {
  width: max-content;

  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    padding: 6px 10px;
  }

  .socItem {
    a {
      .svg {
    

        &:hover {
          fill: var(--accented-color);
        }
      }

      .bg {
        background: var(--inverted-bg-color);

        &:hover {
          background: var(--accented-color);
        }
      }
    }
  }
}