.portfolio_theme_dark {
  --bg-color: #191919;
  --primary-color: #ccc;
  --secondary-color: #a7a7a7;

  --image-border-gradient: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1))
}