.portfolio_theme_dark {
  --bg-color: #191919;
  --bg-color-98: rgba(25, 25, 25, 0.98);
  --inverted-bg-color: rgba(235, 234, 237, 1);

  --primary-color: #ccc;
  --secondary-color: #a7a7a7;

  --card-color: #545454;

  --image-border-gradient: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1))
}