.portfolio_theme_light {
  --bg-color: rgba(235, 234, 237, 1);
  --bg-color-98: rgba(235, 234, 237, 0.98);
  --inverted-bg-color: #191919;



  --primary-color: #42446e;
  --secondary-color: #666;
  --accented-color: #9052c9;



  --card-color: #fff;

  --image-border-gradient: linear-gradient(#00000000,
      #00000030)
}