.portfolio_theme_light {
  --bg-color: rgba(235, 234, 237, 1);
  --header-color: rgba(235, 234, 237, 0.98);
  --inverted-bg-color: #191919;


  --primary-color: #42446e;
  --secondary-color: #666;
  --accented-color: rgba(66, 68, 110, 1);
  --title-color: rgba(66, 68, 110, 1);
  --link-color: #000;


  --card-color: #fff;

  --image-border-gradient: linear-gradient(#00000000,
      #00000030)
}