.portfolio_theme_light {
  --bg-color: rgba(235, 234, 237, 1);
  --bg-color-98: rgba(235, 234, 237, 0.98);
  --primary-color: #42446e;
  --secondary-color: #666;

  --card-color: #fff;

  --image-border-gradient: linear-gradient(#00000000,
      #00000030)
}