  .appButton {
    color: inherit;
    padding: 8px 12px;
    transition: all linear var(--transtion-delay);
    font-family: var(--font-family-accented);
    cursor: pointer;

    &.clear.primary {
      background: none;
      border: none;

      &:hover {
        color: var(--accented-color);
      }
    }

    &.outlined {
      &.xs {
        border-radius: var(--border-radius-xs);
      }

      &.s {
        border-radius: var(--border-radius-s);
      }

      background: transparent;

      &.primary {
        border: 2px solid var(--primary-color);

        &:hover {
          color: var(--accented-color);
          border: 2px solid var(--accented-color);
        }
      }

      &.accented {
        border: 2px solid var(--accented-color);
        color: var(--accented-color);

        &:hover {
          background: var(--accented-color);
          color: var(--primary-color);
        }
      }
    }


  }