

.nav {
  font-family: var(--font-family-accented);
  font-size: 20px;
  display: flex;
}

.list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

@media (max-width:768px) {
  .list {
    transition: all linear var(--transtion-delay);
    background: var(--header-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .list.isOpen {
    transform: translateY(0);
  }
}