.section {
  padding: var(--section-indent-l) 0;
  text-align: center;
}

.sectionTitle {
  padding: 0 0 var(--section-subtitle-indent-l) 0;
}

.list {
  display: grid;
  gap: 15px;
  /* По умолчанию 3 колонки (для маленьких контейнеров) */
  grid-template-columns: repeat(6, 1fr);
}


.listItem {
  padding-bottom: 50px;
}

@media (max-width: 992px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}