.section {
  text-align: center;
}

.sectionTitle {
  padding: 0 0 var(--section-subtitle-indent-l) 0;
}

.listWrapper {
  width: 100%;
}

.list {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(6, 1fr);
}


.listItem {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  // .list {
  //   grid-template-columns: repeat(3, 1fr);
  // }

  .svg {
    width: 66px;
    height: 66px;
  }
}

@media (max-width: 576px) {

  .svg {
    width: 55px;
    height: 55px;
  }

  // .list {
  //   grid-template-columns: repeat(2, 1fr);
  // }

}

@media (max-width: 400px) {
  // .listWrapper {
  //   overflow: hidden;
  // }

  // .list {
  //   display: flex;
  // }

  // .listItem {
  //   min-width: 100%;
  // }
}