.banner {
  padding: var(--section-indent-l) 0;
  min-height: 720px;
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.imgWrapper {
  border-radius: 50%;
  width: 444px;
  height: 444px;
  position: relative;
  padding: 20px;
}

.imgBorder {
  position: absolute;
  height: 100%;
  width: 100%;

  // transform: rotateZ($ {
  //     (props)=> props.$angle
  //   }

  //   deg);

  z-index: var(--banner-img-border-z-index);

  &>div {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--image-border-gradient);

    &:before {
      content: "";
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      background: var(--bg-color);
    }
  }
}

.imgBackground {
  // position: absolute;
  z-index: var(--banner-img-background-z-index);
  border-radius: 50%;
  width: 370px;
  height: 370px;
  background: var(--acented-gradient);
  padding: 10px;

  &>div {
    overflow: hidden;
    border-radius: 50%;
    width: 350px;
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.img {
  height: 100%;
  object-fit: cover;
}