.banner {
  min-height: 670px;
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.imgWrapper {
  content: "";
  border-radius: 50%;
  width: 444px;
  height: 444px;
  position: relative;

  .imgRotateBorders {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--banner-img-border-z-index);

    &>div {
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transform: rotateZ($i * -15deg);
        }
      }

      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--image-border-gradient);

      &:before {
        content: "";
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        background: var(--bg-color);
      }
    }
  }

  .imgBackgroundBorder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: var(--banner-img-background-z-index);
    border-radius: 50%;
    width: 83.3%;
    height: 83.3%;
    background: var(--accented-gradient);
    padding: 10px;

    &>div {
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

    }
  }

  .img {
    height: 100%;
    object-fit: cover;
  }
}

@media(max-width:1400px) {
  .imgWrapper {
    margin-right: 80px;
  }
}

@media(max-width:1200px) {
  .imgWrapper {
    width: 333px;
    height: 333px;
    margin-right: 50px;
  }

}

@media(max-width:992px) {
  .banner {
    flex-direction: column;
    justify-content: center;
  }

  .textWrapper {
    text-align: center;
  }

  .imgWrapper {
    width: 444px;
    height: 444px;
    margin-top: 130px;
    margin-right: 50px;
  }
}

@media(max-width:768px) {
  .imgWrapper {
    width: 333px;
    height: 333px;
    margin-top: 70px;
  }
}

@media(max-width:576px) {
  .banner {
    min-height: calc(100vh - var(--header-height));
    justify-content: space-around;
  }

  .imgWrapper {
    // width: 260px;
    // height: 260px;
    // margin-right: 30px/
    margin-top: 0;
    margin-right: 0;
  }

  .imgRotateBorders {
    display: none;
    width: 0;
    height: 0;
  }
}

@media(max-width:400px) {
  .imgWrapper {
    width: 300px;
    height: 300px;
    // margin-right: 30px/
  }
}