.appTitle {
  letter-spacing: var(--letter-spacing-title);

  &:is(h1) {
    font-weight: 700;
    font: var(--font-h1);
    background-image: var(--accented-gradient);
    background-clip: text;
    color: transparent;
    letter-spacing: var(--letter-spacing-main);
  }

  &:is(h2) {
    letter-spacing: var(--letter-spacing-main);
    font-weight: 700;
    font: var(--font-5xl)
  }

  &:is(h3) {
    font-weight: 700;
    font: var(--font-3xl)
  }

  &:is(h4) {
    font-weight: 700;
    font: var(--font-xl)
  }

  &:is(h5) {
    font: var(--font-m)
  }

}

@media (max-width:1400px) {
  .appTitle {
    &:is(h1) {
      font: var(--font-5xl)
    }
  }
}

@media (max-width:1200px) {
  .appTitle {
    &:is(h1) {
      font: var(--font-4xl)
    }

    &:is(h2) {
      font: var(--font-3xl)
    }
  }
}

@media (max-width:991px) {
  .appTitle {
    &:is(h2) {
      font: var(--font-4xl)
    }

    &:is(h3) {
      font: var(--font-2xl)
    }

    &:is(h4) {
      font: var(--font-l)
    }
  }
}

@media (max-width:768px) {
  .appTitle {
    &:is(h1) {
      font: var(--font-3xl)
    }

    &:is(h2) {
      font: var(--font-2xl)
    }

    &:is(h3) {
      font: var(--font-xl)
    }

    &:is(h4) {
      font: var(--font-l)
    }
  }
}

@media (max-width:400px) {
  .appTitle {

    &:is(h5) {
      font: var(--font-s)
    }
  }
}