.footer {
  max-width: var(--width-container-xl);
  width: 100%;
  min-width: var(--width-container-min);

  min-height: var(--footer-height);
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 12px;

  .email {
    text-align: center;
    color: transparent;
    background-clip: text;
    background-image: var(--accented-gradient)
  }

  .cp {
    text-align: center;
  }
}

@media(max-width:576px) {}