.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.title {
  text-align: center;
}

.form {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .btn {
    margin: 0 auto;
  }

  // .field {
  //   margin-bottom: 20px; 
  // }
}