.contacts {
  padding: var(--section-indent-l) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.form {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .btn {
    margin: 0 auto;
  }

  .field {
    /* margin-bottom: 20px; */
  }
}